
    <div layout="row">

        <!-- BASIC FORM -->
        <div class="form-wrapper md-whiteframe-1dp" flex="60">

            <form name="basicForm" class="md-form" novalidate>

                <div class="form-title">Edit your profile data</div>

                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                         <label>Firstname</label>
                        <input type="text" name="firstname" ng-model="vm.basicForm.firstname"
                                placeholder="{{vm.basicForm.firstname}}"
                                required>
                        <div ng-messages="basicForm.firstname.$error"
                                role="alert">
                            <div ng-message="required">
                                <span>Firstname field is required.</span>
                            </div>
                        </div>
                    </md-input-container>

                </div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Lastname</label>
                        <input type="text" name="lastname" ng-model="vm.basicForm.lastname" 
                                placeholder="{{vm.basicForm.lastname}}"
                                required>
                        <div ng-messages="basicForm.lastname.$error"
                                role="alert">
                            <div ng-message="required">
                                <span>Lastname field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Patronym name</label>
                        <input type="text" name="patronymName" ng-model="vm.basicForm.patronymName" 
                                placeholder="{{vm.basicForm.patronymName}}"
                                >
                    </md-input-container>
                </div>


              <div layout="column" layout-gt-sm="row">
              
                    <md-input-container style="margin-right: 10px;">
                        <label>Role</label>
                        <md-select ng-model="vm.basicForm.roles">
                        <md-option ng-repeat="role in vm.basicForm.roles" value="{{role}}">{{role}}</md-option>
                        </md-select>
                </md-input-container>
              </div>

              <div layout="column" layout-gt-sm="row">
                  
                   <md-input-container>
                   <label>Teams</label>
                        <md-select ng-model="vm.basicForm.teams" multiple>
                            <md-optgroup label="Meats">
                                <md-option  ng-repeat="team in vm.basicForm.teams">{{team.name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
              </div>

             <div layout="column" layout-gt-sm="row">
                <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                 <label>Email</label>
                <input ng-model="vm.basicForm.email" type="email" placeholder="{{vm.basicForm.email}}" ng-required="true">
                </md-input-container>
             </div>

            <md-input-container flex-gt-md="30" class="md-block"> 
            <label>Birthday</label>
            <mdp-date-picker name="minMaxDate" mdp-placeholder="Date" mdp-min-date="'1930-01-01'" value='{{vm.basicForm.birthDay}}'
            mdp-max-date="'2005-01-01'" ng-model="vm.basicForm.birthDay">
                <div ng-messages="demoForm.minMaxDate.$error">
                  <div ng-message="required">This is required</div>
                  <div ng-message="format">Invalid format</div>
                  <div ng-message="minDate">Min date</div>
                  <div ng-message="maxDate">Max date</div>
                </div>
              </mdp-date-picker>
            </md-input-container>
           
            <md-input-container  class="md-block">
            <label> Work day begins (according to the Schedule)  at: </label>              
              <mdp-time-picker mdp-auto-switch="true" ng-model="currentTime"></mdp-time-picker>
            </md-input-container>
   
             <md-input-container class="md-block" >
                <label>Work day ends (according to the Schedule)  at:</label>
                  <mdp-time-picker mdp-auto-switch="true" ng-model="currentTime"></mdp-time-picker>
             </md-input-container>

            <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                        ng-disabled="basicForm.$invalid || basicForm.$pristine">
                Submit
            </md-button>
            </form>

        </div>
        <!-- / BASIC FORM -->

            <!-- BASIC FORM DATA -->
            <div class="form-wrapper form-data-wrapper md-whiteframe-1dp" flex="40">
                <div class="form-title">Form ng-model data for TEST </div>
                <div class="json-data-wrapper">
                    <pre>{{vm.basicForm | json}}</pre>
                </div>
            </div>
            <!-- / BASIC FORM DATA -->