<div layout="row" layout-wrap>

    <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">
        <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.GENERAL_INFORMATION">General Information</div>
            </header>

            <div class="content">

                <div class="info-line">
                    <div class="title" translate="PROFILE.NAME">Name </div>
                    <div class="info">{{vm.user.fullName}}</div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.BIRTHDAY">Birthday</div>
                    <div class="info">{{vm.user.birthDay | date}}</div>
                </div>

            </div>
        </div>

        <div class="profile-box info-box work md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.WORK">Work</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title" translate="PROFILE.OCCUPATION">Occupation</div>
                    <div class="info">{{vm.user.role.name}}</div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.SKILLS">Skills</div>
                    <div class="info">{{vm.user.skills}}</div>
                </div>
                <div class="info-line">
                    <div class="title" >Work day begins at:</div>
                    <div class="info">{{vm.user.beginWork | date:'HH:mm'}}</div>
                </div>
                <div class="info-line">
                    <div class="title" >Work day ends at:</div>
                    <div class="info">{{vm.user.endWork | date:'HH:mm'}}</div>
                </div>

            </div>
        </div>

        <!--<div class="profile-box info-box contact md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.CONTACT">Contact</div>
            </header>
            <div class="content">
                <div class="info-line">
                    <div class="title" translate="PROFILE.ADDRESS">Address</div>
                    <div class="info">{{vm.user.contact.address}}</div>
                </div>

                <div class="info-line">
                    <div class="title" >Skype</div>
                    <div class="info">{{vm.user.contact.skype}}</div>
                </div>
                <div class="info-line">
                    <div class="title" >Twitter</div>
                    <div class="info">{{vm.user.contact.twitter}}</div>
                </div>
                <div class="info-line">
                    <div class="title" >Facebook</div>
                    <div class="info">{{vm.user.contact.facebook}}</div>
                </div>
                <div class="info-line">
                    <div class="title" >LinkedIn</div>
                    <div class="info">{{vm.user.contact.linkedin}}</div>
                </div>
                <div class="info-line">
                    <div class="title" >Google + </div>
                    <div class="info">{{vm.user.contact.google_plus}}</div>
                </div>
                <div class="info-line">
                    <div class="title" >VK </div>
                    <div class="info">{{vm.user.contact.vk}}</div>
                </div>
                <div class="info-line">
                    <div class="title" translate="PROFILE.TEL">Tel.</div>
                    <div class="info" ng-repeat="tel in vm.user.contact.tel">
                        <span>{{tel}}</span>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.EMAILS">Emails</div>
                    <div class="info">
                        <span>{{vm.user.email}}</span>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <!--<div class="about-sidebar" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="35">

        <div class="profile-box friends md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" translate="PROFILE.TEAMMATES">Teammates</div>
                <div class="more secondary-text">
                    <span translate="PROFILE.SEE">See</span>
                    <span>454</span>
                    <span translate="PROFILE.MORE">More</span>
                </div>
            </header>
            <div class="content" layout="row" layout-wrap>
                <div class="friend" flex="20" ng-repeat="friend in vm.about.friends">
                    <img ng-src="{{friend.avatar}}">
                </div>
            </div>
        </div>

    </div>-->

</div>