    <div id="activity" class="page-layout simple tabbed">
    <!-- HEADER -->
      <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Add activity</span>
      </div>
    </md-toolbar>    
    <div class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">

         <form name="activityForm" ng-submit="vm.addActivity()">
            <div layout-gt-xs="row">
              <md-content  layout-gt-sm="row" layout-padding>
                
                      <md-input-container class="md-block">
                        <label>Title</label>
                          <input ng-model="vm.activityForm.title">
                      </md-input-container>
                      <md-input-container class="md-block">
                        <label>Description</label>
                         <textarea ng-model="vm.activityForm.description" md-maxlength="100" rows="3" md-select-on-focus></textarea>
                      </md-input-container>
                      <md-input-container class="md-block">
                        <label>Link</label>
                          <input ng-model="vm.activityForm.link">
                      </md-input-container>   

              
                      <mdp-time-picker mdp-auto-switch="true" ng-model="vm.activityForm.beginDate">Start</mdp-time-picker>
            
                 
                      <mdp-time-picker mdp-auto-switch="true" ng-model="vm.activityForm.finishDate">Stop</mdp-time-picker>

                     <md-button type="submit" class="md-raised md-primary">Add</md-button>
              </md-content>
           </div>
           
         </form>

    </div>
    <!-- / HEADER -->
     <div class="content" flex>
  <div flex-gt-sm="98" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Activities</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="activity in vm.list" ng-click="null">     
          <div class="md-list-item-text" layout="column">
            <h3>{{ activity.author.firstName + " " + activity.author.secondName }}</h3>
            <h4> {{ activity.title }}</h4>
            <p>{{ activity.description }}</p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>


      </md-list>
    </md-content>
  </div>


     </div>
  </div>