
    <div layout="row">

        <!-- BASIC FORM -->
        <div class="form-wrapper md-whiteframe-1dp" flex="70">

            <form name="basicForm" class="md-form" novalidate ng-submit="vm.submit()">

                <div class="form-title">Edit your profile data</div>

                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                         <label>Firstname</label>
                        <input type="text" name="firstName" ng-model="vm.profileForm.user.firstName"
                                placeholder="{{vm.profileForm.user.firstName}}"
                                required>
                        <div ng-messages="basicForm.firstName.$error"
                                role="alert">
                            <div ng-message="required">
                                <span>FirstName field is required.</span>
                            </div>
                        </div>
                    </md-input-container>

                </div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Lastname</label>
                        <input type="text" name="lastname" ng-model="vm.profileForm.user.surName" 
                                placeholder="{{vm.profileForm.user.surName}}"
                                required>
                        <div ng-messages="basicForm.lastname.$error"
                                role="alert">
                            <div ng-message="required">
                                <span>Lastname field is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Patronym name</label>
                        <input type="text" name="patronymName" ng-model="vm.profileForm.user.patronymName" 
                                placeholder="{{vm.profileForm.user.patronymName}}"
                                >
                    </md-input-container>
                </div>


              <div layout="column" layout-gt-sm="row">
              
                    <md-input-container style="margin-right: 10px;">
                        <label>Role</label>
                        <md-select ng-model="vm.profileForm.user.role.name">
                              <md-option ng-repeat="role in vm.roles"  value="{{role.name}}">{{role.name}}</md-option>
                        </md-select>
                </md-input-container>
              </div>

              <div layout="column" layout-gt-sm="row">
                  
                   <md-input-container>
                   <label>Teams</label>
                        <md-select ng-model="vm.profileForm.user.teams" multiple>
                                <md-option  ng-repeat="team in vm.teams" value="{{team.id}}">{{team.name}}</md-option>
                        </md-select>
                    </md-input-container>
              </div>

             <div layout="column" layout-gt-sm="row">
                <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                 <label>Email</label>
                <input ng-model="vm.profileForm.user.email" type="email" placeholder="{{vm.profileForm.user.email}}" ng-required="true">
                </md-input-container>
             </div>

            <md-input-container flex-gt-md="30" class="md-block"> 
            <label>Birthday</label>
            </md-input-container>
            <mdp-date-picker name="minMaxDate" mdp-placeholder="Date" mdp-min-date="'1930-01-01'" value='{{vm.profileForm.user.birthDay}}'
            mdp-max-date="'2005-12-31'" ng-model="vm.profileForm.user.birthDay">
                <div ng-messages="demoForm.minMaxDate.$error">
                  <div ng-message="required">This is required</div>
                  <div ng-message="format">Invalid format</div>
                  <div ng-message="minDate">Min date</div>
                  <div ng-message="maxDate">Max date</div>
                </div>
              </mdp-date-picker>
           
            <md-input-container  class="md-block">
                <label> Work day begins (according to the Schedule)  at: </label>              
            </md-input-container>
            <mdp-time-picker mdp-auto-switch="true" ng-model="vm.profileForm.user.beginWork"></mdp-time-picker>
   
             <md-input-container class="md-block" >
                <label>Work day ends (according to the Schedule)  at:</label>
             </md-input-container>
             <mdp-time-picker mdp-auto-switch="true" ng-model="vm.profileForm.user.endWork"></mdp-time-picker>

            <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                        ng-disabled="basicForm.$invalid || basicForm.$pristine">
                Submit
            </md-button>
            </form>
        </div>
        <!-- / BASIC FORM -->

            <!-- BASIC FORM DATA -->
            <!--<div class="form-wrapper form-data-wrapper md-whiteframe-1dp" flex="40">
                <div class="form-title">Form ng-model data for TEST </div>
                <div class="json-data-wrapper">
                    <pre>{{vm.profileForm.user | json}}</pre>
                    <pre>{{vm.teams | json}}</pre>
                    <pre>{{vm.roles | json}}</pre>
                </div>
            </div>-->
            <!-- / BASIC FORM DATA -->